body {
  /* margin: 30px; */
  color: #343a41;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

/* large screens */
/* @@media screen and (min-width: 960px) {

} */

/* tablet, laptop screens */
/* @@media screen and () */
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  width: 100%;
}

.navbar-item {
  margin: 0 30px;
}

.btn {
  font-family: 'Oswald', sans-serif;
}

.center-hv {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -55%);
  text-align: center;
}

.main-content {
  margin: auto;
  width: 75%;
}

.headline {
  text-align: center;
  font-size: 1.9em;
  margin: .8em 0 1em 0;
  font-family: 'Oswald', sans-serif;
}

.loading-message {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  font-style: italic;
  margin: 1.5em 0;
  text-align: center;
  vertical-align: center;
}

.sidebar {
  display: block;
  text-align: center;
  padding: 20px 55px;
}

.sidebar-heading {
  font-size: 1.5em;
  font-family: 'Staatliches', sans-serif;
  margin: 0 0 0.1em 0;
}

.sidebar-link {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 1.7em;
}

.toggle-sidebar-btn {
  margin: 10px 0 0 33px;
}

.top-links-container {
  margin: 1em 0 1.8em 0;
}

.mix-container {
  text-align: left;
  overflow: hidden;
  width: 100%;
}

.mix-headline {
  font-family: 'Zilla Slab', serif;
  font-size: 1.2em;
  margin: -10px 0 0 0;
}

.mix-item {
  margin: 0 0 1.2em 0;
  position: relative;
  z-index: 2;
}

.news-source {
  font-family: 'Staatliches', sans-serif;
  font-size: 0.95em;
  position: relative;
  top: 0.03em;
  padding: 0 0.4em 0 0;
  z-index: 0;
}

.news-content {
  font-size: .75em;
  line-height: 0.8;
  font-family: 'Roboto', sans-serif;
}

.star {
  font-size: 1.5em;
  font-family: 'Staatliches', sans-serif;
  position: absolute;
  float: right;
  top: 125px;
  right: 47px;
}

.save-button {
  cursor: pointer;
  color: lightgrey;
}

.save-button:hover {
  color: rgba(233, 212, 53, 0.974);
}

.saving-label {
  color: rgba(233, 212, 53, 0.974);
}

.saved-label {
  color: rgb(145, 145, 145);
}

.sr-only {
  margin: 0 auto;
}

.toggle-button {
  font-family: 'Staatliches', sans-serif;
  font-size: 1.5em;
  color: lightgrey;
  position: absolute;
  top: 95px;
  right: 47px;
}

.toggle-button:hover {
  color: #007bff;
}

.like-button {
  margin: 0 5px;
  cursor: pointer;
}

.like-button:hover {
  color: #af2326;
}

.spinner {
  display: flex;
  margin: 0 auto;
  margin-top: 170px;
}

/* Spinner */
      
.dot-loader {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #03A9F4;
  position: relative;
  -webkit-animation: 1.2s scaleDown ease-in-out infinite ;
  animation: 1.2s scaleDown ease-in-out infinite ;
}

.dot-loader:nth-child(2) {
  margin: 0 15px;
  -webkit-animation: 1.2s scaleDown ease-in-out infinite .15555s;
  animation: 1.2s scaleDown ease-in-out infinite .15555s;
}

.dot-loader:nth-child(3) {
  -webkit-animation: 1.2s scaleDown ease-in-out infinite .300000s;
  animation: 1.2s scaleDown ease-in-out infinite .300000s;
}

@-webkit-keyframes scaleDown {
  0%, 80%, 100%{
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  40%{
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleDown{
  0%, 80%, 100%{
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  40%{
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
 .hamburger {
  position: absolute;
  padding: 15px 15px;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 85px 0 0 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #000; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 1.5px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -9px; }
  .hamburger-inner::after {
    bottom: -9px; }

    /*
   * Spin
   */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }
